@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: dark light;
  --color-super-lightblue: #b8d9fec3;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: Menlo, Monaco, Lucida Console, "Courier New", Courier, monospace;
  -webkit-font-smoothing: antialiased;
  background: #fff;
  margin: 0;
  padding: 0;
}

body h1,
h2,
h3,
h4 {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.info header h1 {
  padding-block: 10px;
}

.info header h2 {
  color: #444;
  font-weight: 500;
  font-size: 1.1rem;
  text-wrap: balance;
}

.list::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: lightgreen;
  border-radius: 100%;
}

p {
  color: #666;
  font-size: 0.9rem;
  line-height: 1.5;
  margin: 0;
  font-family: monospace;
}

span {
  color: #666;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 0.85rem;
  letter-spacing: -0.05rem;
}

figure {
  margin-left: 20px;
}

figure img {
  width: 128px;
  aspect-ratio: 1 / 1;
  border-radius: 16px;
}

time {
  font-size: 0.9rem;
}

.social-icons a {
  color: #777;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #eee;
  padding: 4px;
  height: 32px;
  width: 32px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.social-icons a:hover {
  background: #eee;
  border: 1px solid #ddd;
}

.func-buttons {
  transition: all 0.3s ease;
}

.func-buttons:hover {
  background: #eee;
  border: 1px solid #ddd;
}

footer {
  color: #555;
  font-size: 0.65rem;
  display: flex;
  gap: 4px;
  margin-top: 8px;
}

@media (width <= 700px) {
  body {
    padding: 12px;
  }

  .container {
    flex-direction: column-reverse;
  }

  .info h1,
  h2,
  .place,
  .social-icons,
  .update {
    text-align: center;
    justify-content: center;
  }

  h2 {
    text-wrap: balance;
  }

  figure {
    margin: 0 auto;
  }
}

@media (width <= 900px) {
  body {
    padding: 12px;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.print {
  display: none !important;
}

@media print {
  .no-print,
  .update {
    display: none !important;
  }

  .print {
    display: block !important;
  }

  figure img {
    transform: translateY(14px);
    margin-left: 190px;
  }

  article {
    break-inside: avoid;
  }
}

.spinner {
  position: fixed;
  left: calc(50% - 20px);
  top: 50%;
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #8098c2;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

.head-table th {
  padding: 8px;
  background-color: #ddd;
  font-size: x-small;
  border-inline: 1px solid #c3c3c3;
}

.result td {
  padding: 5px;
  font-size: x-small;
  border-inline: 1px solid #c3c3c3;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.table-info {
  rotate: 0;
  display: grid;
  position: relative;
  padding: 16px;
  width: fit-content;
  background: conic-gradient(
    from var(--rotate),
    #00daf4 0%,
    #5edc99 10%,
    #3861bc 20%,
    #5606ef 30%,
    #d400a5 40%,
    #ee4c54 50%,
    #ff7800 60%,
    #ffaf00 70%,
    #ffc800 80%,
    #bada6d 100%,
    #00daf4 110%
  );
  margin-inline: auto;
  margin-block: 10px;
  justify-content: center;
  border-radius: 6px;
  animation: rotate 3s linear infinite both;
}

.table-info::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, #f4f4f4, #f5f5f5);
  inset: 2px;
  z-index: 1;
  border-radius: 4px;
}

.table-info p {
  color: #181818;
  font-size: small;
  z-index: 3;
}

@keyframes rotate {
  to {
    --rotate: 360deg;
  }
}

dialog {
  border-radius: 6px;
  filter: drop-shadow(0 0 10px #181818);
}

dialog::backdrop {
  backdrop-filter: blur(3px);
  cursor: alias;
}
